
AT/.classpath
AT/.project
AT-config/.project
*.prefs
AT/AT-config/.classpath
AT/AT-config/.project
*.component
AT/AT-config/.settings/org.eclipse.wst.common.project.facet.core.xml
AT/AT-config/target/classes/META-INF/MANIFEST.MF
AT/AT-config/target/classes/META-INF/maven/ATDP/AT-config/pom.properties
AT/AT-dao/.classpath
AT/AT-dao/.project
AT/AT-dao/.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
AT/AT-dao/target/classes/META-INF/maven/ATDP/AT-dao/pom.properties
AT/AT-repo-jar/.project
AT/AT-web/.classpath
AT/AT-web/.project
AT/AT-web/.settings/.jsdtscope
AT/AT-web/.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
*.name
AT/AT-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
AT/AT-web/target/m2e-wtp/web-resources/META-INF/maven/ATDP/AT-web/pom.properties
*.classpath
*.project
AT/AT-common/.settings/org.eclipse.wst.common.project.facet.core.xml
